.section {
  width: 300px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

.form {
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
