.wrapper {
  @media screen and (min-width: 480px) {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  @media screen and (min-width: 720px) {
    padding: 30px;
    gap: 30px;
  }
  @media screen and (max-width: 320px) {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  padding: 10px 10px;
}

.formal {
  max-height: 300px;
}

.addContactBtn {
  background-color: green;
}
