.wrapper {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (max-width: 320px) {
    padding: 10px;
  }
  padding: 30px 10px;
}

.formal {
  max-height: 300px;
}
