.form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;

}

.input {
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;

}



.btn {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(43, 218, 60);
    cursor: pointer;
}