.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(79, 129, 186);
  border-radius: 5px;
}

.listItem:nth-child(2n) {
  background-color: azure;
}

.text {
  font-weight: 500;
}
