.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(79, 129, 186);
  border-radius: 5px;
}

.listItem:nth-child(2n) {
  background-color: azure;
}

.text {
  font-weight: 500;
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
  @media screen and (max-width: 720px) {
    font-size: 14px;
  }
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.data {
  margin-left: 10px;
}

.contactField {
  display: flex;
  align-items: center;
  padding: 4px;
}

.delBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover:after {
    content: 'Delete';
    // transition: transform 500ms linear;
    // opacity: 1;
    position: absolute;
    right: -50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f7caca;
  }
}
.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover:after {
    content: 'Edit';
    // transition: transform 500ms linear;
    // opacity: 1;
    position: absolute;
    right: -35px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c8ecc1;
  }
}
